<!DOCTYPE html>
<html>
<head>
    <title>Interactive Earth</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        
        .button-container {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        
        .button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a href="{% url 'disasters' %}" class="button">Disasters</a>
    </div>
    
    <script>
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        const geometry = new THREE.SphereGeometry(1, 32, 32);
        const textureLoader = new THREE.TextureLoader();
        const texture = textureLoader.load('https://threejs.org/examples/textures/land_ocean_ice_cloud_2048.jpg');
        const material = new THREE.MeshBasicMaterial({ map: texture });

        const earth = new THREE.Mesh(geometry, material);
        scene.add(earth);

        camera.position.z = 3;

        function animate() {
            requestAnimationFrame(animate);

            earth.rotation.y += 0.002; // تعديل سرعة الدوران هنا

            renderer.render(scene, camera);
        }

        animate();
    </script>
</body>
</html>
